.path {
  transform-style: preserve-3d;
}

.mask {
  mask-image: url(../../assets/images/mask/mask.png);
}

.small-mask {
  mask-image: url(../../assets/images/mask/smallMask.png);
}

.perspective {
  perspective: 800px;
}
