.path {
  transform-style: preserve-3d;
}

.mask {
  mask-image: url(../../assets/images/mask/mask.png);
}

/* .small-mask {
  mask-image: url(../../assets/images/mask/smallMask.png);
} */

.perspective {
  perspective: 800px;
}

/* @media only screen and (min-width: 640px) {
  .mask {
    mask-image: url(../../assets/images/mask/mask.png);
    width: 800px;
    height: 800px;
  }
}

@media only screen and (max-width: 640px) {
  .mask {
    mask-image: url(../../assets/images/mask/mask.png);
    width: 400px;
    height: 400px;
  }
} */