@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("../background.png");
  /* background: #010001; */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Oxanium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, Oxanium;
}

.background-video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -20;
}